@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme  {
    --color-Day1-primary: #F5F5F5;
    --font-geist: 'Geist', sans-serif;
    --font-inter: 'Inter', sans-serif;
 
}


.animation{
    animation: slideup 1s   ;
}

@keyframes slideup {
    from{
        transform: translateY(-1000px);
    
    }
    to{
        transform: translateY(0px);
      
    }
}